<div class="hotr-wrap">
  <div class="wrap-top" id="topController" v-cloak>
    <!--人气榜-->
    <div class="wrap-pop">
      <ul class="cut-btnRect">
        <li 
          @click="channel=2"
          :class="{'on': channel === 2 }"><i class="girl"></i>女生人气榜</li>
        <li 
          @click="loadBoyPopular"
          :class="{'on': channel === 1 }"><i class="boy"></i>男生人气榜</li>
      </ul>
      <ol v-show="channel === 2" class="cut-rect rect-female">
        <li 
          @mouseover="active=index"
          :class="{'on': active === index }" 
          v-for="(index, item) in girlPopular">
          <a :href="'/story/' + item.story.id" class="pinkBg">
            <em class="num">{{index | ten}}</em>
            <img :src="item.story.cover" alt="" />
            <p class="bookName">{{item.story.name}}</p>
            <span class="author">{{item.story.author}}</span>
          </a>
        </li>
      </ol>
      <ol v-show="channel === 1" class="cut-rect rect-male">
        <li 
          @mouseover="active=index"
          :class="{'on': active === index }" 
          v-for="(index, item) in boyPopular">
          <a :href="'/story/' + item.story.id" class="pinkBg">
            <em class="num">{{index | ten}}</em>
            <img :src="item.story.cover" alt="" />
            <p class="bookName">{{item.story.name}}</p>
            <span class="author">{{item.story.author}}</span>
          </a>
        </li>
      </ol>
    </div>
    <!--右边盒子-->
    <div class="wrap-rightbox">
      <style type="text/css">
        .my-swipe {
          height: 321px;
        }
      </style>
      <!--图片轮播-->
      <div class="picAuto">
        <swipe class="my-swipe">
          <swipe-item v-for="item in slider">
            <a :href="item.targetType === 1 ? ('/story/' + item.targetId) : item.linkUrl"
              style="display:block;height:321px;background: none no-repeat 50% center / cover"
              :style="{
                backgroundImage: 'url(' + item.pic + ')'
              }"></a>
          </swipe-item>
        </swipe>
      </div>
      <!--推荐-->
      <div class="recom">
        <dl class="recom-rect">
          <dt class="recom-title">
            <a href="/story/<%= bigleft.story.id %>"><%= bigleft.story.name %>：<%= bigleft.story.pcIntroduce %></a>
          </dt>
          <% smallleft.forEach(function (item) { -%>
          <dd class="recom-list">
            <a href="/story/<%= item.story.id %>"><%= item.story.name %>：<%= item.story.pcIntroduce %></a>
          </dd>
          <% }) -%>
        </dl>
        <dl class="recom-rect">
          <dt class="recom-title">
            <a href="/story/<%= bigright.story.id %>"><%= bigright.story.name %>：<%= bigright.story.pcIntroduce %></a>
          </dt>
          <% smallright.forEach(function (item) { -%>
          <dd class="recom-list">
            <a href="/story/<%= item.story.id %>"><%= item.story.name %>：<%= item.story.pcIntroduce %></a>
          </dd>
          <% }) -%>
        </dl>
      </div>
    </div>
  </div>
  <div class="wrap-bottom">
    <!--下载-->
    <div class="downloadRect">
      <a href="/download" target="_blank">
        <ul class="download-linkRect">
          <li class="linkRect-list">电脑下载IOS版</li>
          <li class="linkRect-list">电脑下载Andriod版</li>
        </ul>
        <div class="phone-log"></div>
        <ol class="twoCode">
          <li>扫描二维码下载客户端</li>
          <li><img src="//c.hotread.com/assets/images/qrcode.jpg" /></li>
        </ol>
      </a>
    </div>
    <!--公告-->
    <ul class="notice">
      <% infor.forEach(function (item) { %>
      <li class="notice-list"><a href="/newspage?id=<%= item.id %>"><span><%= inforType[item.type] %>：</span><%= item.eventName %></a></li>
      <% }) %>
    </ul>
  </div>
</div>

<!--火力推荐-->
<div class="fire-recom" id="fireController">
  <div class="recom-main">
    <h2 class="recom-title">火力推荐<i></i></h2>
    <ul class="girlRect">
      <li class="recom-list" v-for="fire in girlFire">
        <a :href="'/story/' + fire.story.id">
          <img :src="fire.story.cover" />
          <div class="recom-detail">
            <h3 class="bookName win-head">{{fire.story.name}}</h3>
            <em class="author">{{fire.story.author}}</em>
            <p class="recoSent">小编推荐：{{fire.story.pcIntroduce}}</p>
            <span class="type">分类：{{fire.story.type}}</span>
            <span class="readBtn">立即阅读</span>
          </div>
        </a>
        <i></i>
      </li>
    </ul>
    <ul class="boyRect">
      <li class="recom-list" v-for="fire in boyFire">
        <a :href="'/story/' + fire.story.id">
          <img :src="fire.story.cover" />
          <div class="recom-detail">
            <h3 class="bookName win-head">{{fire.story.name}}</h3>
            <em class="author">{{fire.story.author}}</em>
            <p class="recoSent">小编推荐：{{fire.story.pcIntroduce}}</p>
            <span class="type">分类：{{fire.story.type}}</span>
            <span class="readBtn">立即阅读</span>
          </div>
        </a>
        <i></i>
      </li>
    </ul>
  </div>
</div>

<!--女频-->
<div class="column girl-column" id="girlChannel">
  <div class="column-title"><i></i><h2>女频</h2><a class="go" href="/girl">进入女频频道</a></div>
  <div class="banner">
    <a :href="'/story/' + banner.targetId" v-if="banner.targetType === 1">
      <img :src="banner.pic" />
    </a>
    <a :href="banner.linkUrl" v-else>
      <img :src="banner.pic" />
    </a>
  </div>
  <div class="column-main">
    <ul class="column-bookRect">
      <li class="bookRect-list" v-for="(index, item) in list">
        <h2>{{types[index]}}<a :href="'/library?channel=2&type=' + types[index]" class="more">更多</a></h2>
        <a :href="'/story/' + item.story.id" class="bookLink">
          <img :src="item.story.cover" />
          <div class="details">
            <h3 class="bookName">{{item.story.name}}</h3>
            <em class="author">{{item.story.author}}</em>
            <p class="intro">简介：{{item.story.introduce | clean}}</p>
            <span class="sent">小编推荐语：{{item.story.pcIntroduce | clean}}</span>
          </div>
        </a>
      </li>
    </ul>
    <div class="rangkingBox" style="width:208px;float:right;">
      <rank :top="1" :type="0" :border="true" :channel="1"></rank>
      <rank :top="7" :type="2" :border="true" :channel="1"></rank>
    </div>
  </div>
</div>

<!--男频-->
<div class="column boy-column" id="boyChannel">
  <div class="column-title"><i></i><h2>男频</h2><a class="go" href="/boy">进入女频频道</a></div>
  <div class="banner">
    <a :href="'/story/' + banner.targetId" v-if="banner.targetType === 1">
      <img :src="banner.pic" />
    </a>
    <a :href="banner.linkUrl" v-else>
      <img :src="banner.pic" />
    </a>
  </div>
  <div class="column-main">
    <ul class="column-bookRect">
      <li class="bookRect-list" v-for="(index, item) in list">
        <h2>{{types[index]}}<a :href="'/library?channel=1&type=' + types[index]" class="more">更多</a></h2>
        <a :href="'/story/' + item.story.id" class="bookLink">
          <img :src="item.story.cover" />
          <div class="details">
            <h3 class="bookName">{{item.story.name}}</h3>
            <em class="author">{{item.story.author}}</em>
            <p class="intro">简介：{{item.story.introduce | clean}}</p>
            <span class="sent">小编推荐语：{{item.story.pcIntroduce | clean}}</span>
          </div>
        </a>
      </li>
    </ul>
    <div class="rangkingBox" style="width:208px;float:right;">
      <rank :top="1" :type="0" :border="true"></rank>
      <rank :top="7" :type="2" :border="true"></rank>
    </div>
  </div>
</div>

<!--更新榜-->
<div class="update" id="updateController">
  <h2 class="update-title"><i></i>更新榜</h2>
  <ol class="update-cutBtn">
    <li class="cutBtn-list" 
      @click="active=0"
      :class="{'on': active === 0 }">最新免费小说更新<p></p></li>
    <li class="cutBtn-list" 
      @click="getVipList"
      :class="{'on': active === 1 }">最新VIP小说更新<p></p></li>
  </ol>
  <ul v-show="active===0" class="bookRect">
    <li class="list-title"><span class="num">序号</span><span class="type">分类</span><span class="bookName">小说名称</span><span class="chapter">更新章节</span><span class="author">作者</span><span class="time">最新更新时间</span></li>
    <li v-for="(index, item) in freeList">
      <a href="#"><span class="num">{{index | ten}}</span>
        <span class="type">[{{item.story.type}}]</span>
        <span class="bookName">{{item.story.name}}</span>
        <span class="chapter">{{item.story.latestChapter}}</span>
        <span class="author">{{item.story.author}}</span>
        <span class="time">{{item.story.latestChapterTime | datetime}}</span>
      </a>
    </li>
  </ul>
  <ul v-show="active===1" class="bookRect">
    <li class="list-title"><span class="num">序号</span><span class="type">分类</span><span class="bookName">小说名称</span><span class="chapter">更新章节</span><span class="author">作者</span><span class="time">最新更新时间</span></li>
    <li v-for="(index, item) in vipList">
      <a href="#"><span class="num">{{index | ten}}</span>
        <span class="type">[{{item.story.type}}]</span>
        <span class="bookName">{{item.story.name}}<i class="vip-logo"></i></span>
        <span class="chapter">{{item.story.latestChapter}}</span>
        <span class="author">{{item.story.author}}</span>
        <span class="time">{{item.story.latestChapterTime | datetime}}</span>
      </a>
    </li>
  </ul>
  <p class="more-book"><a :href="moreLink">更多优秀小说</a></p>
</div>

<% include ../partials/vue.ejs %>
<script src="//c.hotread.com/assets/js/vue-swipe.js"></script>
<script type="text/javascript">
;(function (Vue) {

  var girlPopular = <%- JSON.stringify(girlPopular) %>;
  var slider = <%- JSON.stringify(slider) %>;
  var girlTypes = <%- JSON.stringify(girlType) %>;
  var boyTypes = <%- JSON.stringify(boyType) %>;

  new Vue({
    el: '#topController',
    data: {
      channel: 2,
      active: 0,
      girlPopular: girlPopular,
      boyPopular: [],
      slider: slider
    },
    methods: {
      loadBoyPopular: function () {
        this.channel = 1;
        if (!this.boyPopular.length) {
          this.$http.get('/api/home/boyPopular')
            .then(function (resp) {
              this.boyPopular = resp.body.boyPopular;
            });
        }
      },
    },
    components: {
      'swipe': VueSwipe.Swipe,
      'swipe-item': VueSwipe.SwipeItem
    }
  });

  new Vue({
    el: '#fireController',
    data: {
      girlFire: [],
      boyFire: []
    },
    methods: {
      getGirl: function () {
        this.$http.get('/api/home/girlFire')
          .then(function (resp) {
            this.girlFire = resp.body.girlFire;
          });
      },
      getBoy: function () {
        this.$http.get('/api/home/boyFire')
          .then(function (resp) {
            this.boyFire = resp.body.boyFire;
          });
      }
    },
    ready: function () {
      this.getGirl();
      this.getBoy();
    }
  });

  new Vue({
    el: '#girlChannel',
    data: {
      banner: {},
      list: [{}, {}, {}, {}],
      types: girlTypes,
    },
    methods: {
      getOne: function () {
        this.$http.get('/api/home/type/1/0')
          .then(function (resp) {
            this.list.$set(0, resp.body.typeRecommend);
          });
      },
      getTwo: function () {
        this.$http.get('/api/home/type/1/1')
          .then(function (resp) {
            this.list.$set(1, resp.body.typeRecommend);
          });
      },
      getThree: function () {
        this.$http.get('/api/home/type/1/2')
          .then(function (resp) {
            this.list.$set(2, resp.body.typeRecommend);
          });
      },
      getFour: function () {
        this.$http.get('/api/home/type/1/3')
          .then(function (resp) {
            this.list.$set(3, resp.body.typeRecommend);
          });
      },
      getBanner: function () {
        this.$http.get('/api/home/banner/1')
          .then(function (resp) {
            this.banner = resp.body.banner;
          });
      }
    },
    ready: function () {
      this.getOne();
      this.getTwo();
      this.getThree();
      this.getFour();
      this.getBanner();
    }
  });

  new Vue({
    el: '#boyChannel',
    data: {
      banner: {},
      list: [{}, {}, {}, {}],
      types: boyTypes,
    },
    methods: {
      getOne: function () {
        this.$http.get('/api/home/type/0/0')
          .then(function (resp) {
            this.list.$set(0, resp.body.typeRecommend);
          });
      },
      getTwo: function () {
        this.$http.get('/api/home/type/0/1')
          .then(function (resp) {
            this.list.$set(1, resp.body.typeRecommend);
          });
      },
      getThree: function () {
        this.$http.get('/api/home/type/0/2')
          .then(function (resp) {
            this.list.$set(2, resp.body.typeRecommend);
          });
      },
      getFour: function () {
        this.$http.get('/api/home/type/0/3')
          .then(function (resp) {
            this.list.$set(3, resp.body.typeRecommend);
          });
      },
      getBanner: function () {
        this.$http.get('/api/home/banner/0')
          .then(function (resp) {
            this.banner = resp.body.banner;
          });
      }
    },
    ready: function () {
      this.getOne();
      this.getTwo();
      this.getThree();
      this.getFour();
      this.getBanner();
    }
  });

  new Vue({
    el: '#updateController',
    data: {
      freeList: [],
      vipList: [],
      active: 0
    },
    computed: {
      moreLink: function () {
        if (this.active === 0) {
          return '/library?option=0';
        } else {
          return '/library?option=1';
        }
      }
    },
    methods: {
      getFreeList: function () {
        this.$http.get('/api/home/freeList')
          .then(function (resp) {
            this.freeList = resp.body.freeList;
          });
      },
      getVipList: function () {
        this.active = 1;
        if (!this.vipList.length) {
          this.$http.get('/api/home/vipList')
            .then(function (resp) {
              this.vipList = resp.body.vipList;
            });
        }
      },
    },
    ready: function () {
      this.getFreeList();
    }
  });
})(Vue);
</script>